<%- include('header'); -%>
    <div class="box" id="heading">
        <h1><%= listtitle %></h1>
    </div>
    <div class="box" >
        <% for(var i=0;i<newlistitem.length;i++){ %>
        <div class="item">
            <input type="checkbox">
            <p><%= newlistitem[i] %></p>
        </div>
        <% } %>
    
        <form class="item" action="/" method="POST">
            <input type="text" name="newitem"placeholder="New Item" autocomplete="off" />
            <button type="submit" name="list"value=<%= listtitle %>>+</button>
        </form>
    </div> 
<%- include('footer'); -%>
